/._calc.html
/._index.js
/._indexfooter.html
/._indexupper.html
/._post.html
/._post.js
/._style.css
/._time.html
/._user.png
/._write.html
/.git
/localhost-cert.pem
/localhost-privkey.pem
/node_modules
.DS_Store