* {
    box-sizing: border-box;
}
body {
    font-family: Arial;
    padding: 10px;
    background: #f1f1f1;
}
/* Header/Blog Title */
.logo {
  text-decoration: none;
  color:black;
}
.header {
    padding: 30px;
    text-align: left;
    background: white;
}
.header h1 {
    font-size: 50px;
}
/* Style the top navigation bar */
.topnav {
    overflow: hidden;
    background-color: #6496ff;
    width:100%;
    float:left;
    z-index: 999;
}
/*
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.topnav a:hover {
  background-color: #ddd;
  color: black;
}
*/
.bigmenu {
  float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding:1em;
    text-decoration: none;
}
.bigmenu a {
  text-decoration: none;
  color:black;
}
.bigmenu:hover {
  background-color: #ddd;
    color: black;
}
.bigmenu:hover .submenu {
  display:block;
}
.submenu {
  display: none;
  position: absolute;
  float: left;
  color: black;
  text-align: center;
  text-decoration: none;
}

.submenu li {
  list-style-type: none;
  background-color: #ddd;
  padding-top: 1em;
  padding-bottom: 1em;
  margin:0;
}
.submenu li a {
  width:100%;
  text-decoration: none;
  color: black;
}


.container {
  float: right;
  width: 25%;
  }

.container input {
  padding: 10px;
  margin-top: 5px;
  width: 80%;
  float: left;
}
/* Create two unequal columns that floats next to each other */
/* Left column */
.row {   
    width: 100%;
    padding:30px;
    display: inline-block;
}

.card {
    background-color: white;
    height: auto;
    padding: 20px;
    margin-top: 20px;

}

.profile {
  float:left;
  width: 50px;
  height: 100%;
  margin-right: 15px;
  text-align:center;
}
.circle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  text-align: center;
  border:2px solid #272729; 
  margin-bottom: 3px;
}

.title {
  font-size: 30px;
  margin-top:5px;
  margin-bottom: 10px;
}

.date {
  font-size: 17px;
  color: #88898c;
  float:right;
}

.content {
  font-size: 18px;
  display:inline-block;
}
.PostPortal {
  text-decoration: none;
  color:black;
}
.comment {
  width: 100%;
  min-height: 80px;
  display: inline-table;
}
.PostButton {
  display: inline-block;
}
.PostButton a {
  background-color: #bbb;
  border-radius: 50%;
  display:flex;
  width:3em;
  height:3em;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}


@media screen and (max-width: 800px) {
    .leftcolumn, .rightcolumn {   
        width: 100%;
        padding: 0;
    }
}
/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
    .topnav a {
        float: none;
        width: 100%;
    }
}